<! A page that gets updated via AJAX>
<! other possible idea: redirect the user after the QR code has been scanned. Need to create >
<!another endpoint so that JS code in this page can poll the server to see if the user has disclosed the attributes>
<HTML>
<HEAD>
    <TITLE>YIVI LOGIN</TITLE>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</HEAD>
<BODY>
<H1>YIVI LOGIN</H1>
<p>Scan the QR code with your YIVI app</p>
{{qr}}
<! a JS script that polls the /status endpoint to see if the user has disclosed the attributes>
<script>
    $(document).ready(function () {
        const interval = setInterval(function () {
            $.ajax({
                url: "/status",
                type: "GET",
                success: function (result) {
                    if (result == "True") {
                        clearInterval(interval);
                        window.location.href = "/success";
                    }
                }
            });
        }, 1000);
    });
</script>
</BODY>
</HTML>